---
import CodeIcon from '../components/icons/Code.astro'
import JavascriptIcon from '../components/icons/Javascript.astro'
import ReactIcon from '../components/icons/Reactjs.astro'

const TAGS = {
  JAVASCRIPT: {
    name: 'Javascript',
    class: 'bg-yellow-400/70',
    icon: (JavascriptIcon)
  },
  REACTJS: {
    name: 'ReactJS',
    class: 'bg-blue-500/70',
    icon: (ReactIcon)
  }
}


const PROJECTS = [
  {
    title: 'React To-Do App',
    description: 'The idea of this project was making a simple web application using React JS to get familiar with this framework. \nThis app consists in a list of To-do tasks, with a title and status. All tasks created will be displayed at the main page, from where you can create new tasks, update and delete existing ones.',
    link: 'https://github.com/daniveler/react-todo-app',
    image: 'https://github.com/daniveler/react-todo-app/raw/main/images/todo-app.png',
    tags: [TAGS.REACTJS, TAGS.JAVASCRIPT]
  },
  {
    title: 'React To-Do App',
    description: 'The idea of this project was making a simple web application using React JS to get familiar with this framework. \nThis app consists in a list of To-do tasks, with a title and status. All tasks created will be displayed at the main page, from where you can create new tasks, update and delete existing ones.',
    link: 'https://github.com/daniveler/react-todo-app',
    image: 'https://github.com/daniveler/react-todo-app/raw/main/images/todo-app.png',
    tags: [TAGS.REACTJS, TAGS.JAVASCRIPT]
  },
  {
    title: 'React To-Do App',
    description: 'The idea of this project was making a simple web application using React JS to get familiar with this framework. \nThis app consists in a list of To-do tasks, with a title and status. All tasks created will be displayed at the main page, from where you can create new tasks, update and delete existing ones.',
    link: 'https://github.com/daniveler/react-todo-app',
    image: 'https://github.com/daniveler/react-todo-app/raw/main/images/todo-app.png',
    tags: [TAGS.REACTJS, TAGS.JAVASCRIPT]
  },
]
---

<h2 class="text-2xl md:text-3xl font-semibold mt-6 mb-8 flex gap-x-3 items-center">
  <CodeIcon class="size-8"/>
  Projects
</h2>

{
  PROJECTS.map(({title, description, tags, image}) => (
    <article>
      <h1 
        class="text-2xl font-semibold text-purple-400 mt-8 mb-4"
      >
        {title}
      </h1>
      <ul class="flex gap-x-4 flex-row mb-4">
        {
          tags.map((tag) => (
            <li>
              <span class={`flex items-center gap-x-2 rounded-full text-sm py-2 px-3 ${tag.class}`}>
                <tag.icon class="size-4" />
                <p class="font-medium text-base text-center">{tag.name}</p>
              </span>
            </li>
          ))
        }
      </ul>
      
      <p class="text-lg mb-4 text-pretty">{description}</p>
      
      <div class="flex items-center justify-center">
        <img 
        class="w-4/5 md:w-2/3 rounded shadow-2xl shadow-white/30"
        src={image} 
        alt={`Project ${title} screenshot`}
      />
      </div>
      
    </article>
  ))
}
